{% extends 'archive/base.html' %}
{% load static %}

{% block title %}
  <title>МКУ ТГО "Управление архивами"</title>
{% endblock %}

{% block content %}

  <h5><a href="{{ main_link.url }}" class="centered-link">{{ main_link.name }}</a></h5><br>

  <h5 style="text-align: center">{{ main_post.title }}</h5>
  <p>{{ main_post.text|safe }}</p>
  <br>
  <p>{{ contacts.address|safe }}</p>
  <p>{{ contacts.boss|safe }}</p>
  <p> Телефон: <b>{{ contacts.telephone }}</b></p>
  <p> Адрес электронной почты: <b>{{ contacts.email }}</b></p>

  <h3>Режим работы</h3>



{% endblock %}