{% extends 'archive/base.html' %}
{% load static %}

{% block title %}
  <title>Новости МКУ ТГО "Управление архивами"</title>
{% endblock %}

{% block content %}
  {% for new in news %}
    <h3>{{ new.title }}</h3>
    <p>{{ new.text|linebreaks }}</p>

    {% if new.images.all %}
      <div class="post-images">
        {% for image in new.images.all %}
          <div class="image-wrapper">
            <img src="{{ image.image.url }}" alt="{{ image.name }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
    <br>
  {% endfor %}
{% endblock %}

