{% extends 'archive/base.html' %}
{% load static %}

{% block title %}
  <title>Организациям. МКУ ТГО "Управление архивами"</title>
{% endblock %}

{% block content %}
  <h3>Информация для источников комплектования</h3>
  <h3>Режим работы</h3>
  <br>
  <table class="table_time" >
    <tbody>
        {% for day_mode in mode %}
            <tr>
                <td >{{ day_mode.name_day }}</td>
                <td >{{ day_mode.start_time_morning }} - {{ day_mode.end_time_morning }}</td>
                <td >{{ day_mode.start_time_lunch }} - {{ day_mode.end_time_lunch }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  {% for link in links %}
    <a>{{ link.name }}</a><br>
  {% endfor %}
{% endblock %}