{% extends 'archive/base.html' %}
{% load static %}

{% block title %}
  <title>Читальный зал. МКУ ТГО "Управление архивами"</title>
{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="image-container">
      {% for image in reading_room.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.name }}">
      {% endfor %}
    </div>
    <div class="text-container">
      <h3>В нашем архиве работает читальный зал</h3>
      <p>{{ reading_room.text|linebreaks }}</p>
      <a href="{{ reading_room.text_link }}">{{ reading_room.text_link }}</a>
    </div>
  </div>
  <br>

  <h3>Список книг библиотеки читального зала</h3>
  <table class="table_time">
      <thead>
          <tr>
              <th>Порядковый номер</th>
              <th>Автор книги</th>
              <th>Название книги</th>
              <th>Издательство</th>
          </tr>
      </thead>
      <tbody>
          {% for book in books_list %}
          <tr>
              <td>{{ book.numb }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.name }}</td>
              <td>{{ book.publishing }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

{% endblock %}