{% load static %}
<div id="header">
  <ul>
    <li><a href="{% url 'archive:index' %}">Главная</a>
    </li>
    <li><a href="{% url 'archive:news' %}">Новости архива</a>
    </li>
    <li><a href="{% url 'archive:about' %}">Об архиве</a>
    </li>
    <li><a href="{% url 'archive:querys' %}">Запросы</a></li>
    <li><a
      href="{% url 'archive:organizaziyam' %}">Организациям</a>
    </li>
    <li><a href="{% url 'archive:kalendar' %}">Календарь
      памятных дат</a></li>
    <li><a href="{% url 'archive:reading_room' %}">Читальный
      зал</a></li>
    <li><a href="{% url 'archive:exhibitions' %}">Выставки</a>
    </li>
    <li><a href="{% url 'archive:articles' %}">Статьи</a></li>
    <li><a href="{% url 'archive:docs' %}">Документы</a></li>
    <li><a href="{% url 'archive:contacts' %}">Контакты</a>
    </li>
  </ul>
</div>