{% load static %}
<div id="header">
  <ul>
    <li><a class="active" href="http://talica-arkhi-rf.1gb.ru/index.html">Главная</a>
    </li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/News.html">Новости архива</a>
    </li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Ob_arhive.html">Об архиве</a>
    </li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Zaprosi.html">Запросы</a></li>
    <li><a
      href="http://talica-arkhi-rf.1gb.ru/Organizaziyam.html">Организациям</a>
    </li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Kalendar.html">Календарь
      памятных дат</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/reding_room.html">Читальный
      зал</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Vistavki.html">Выставки</a>
    </li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/stateiki.html">Статьи</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Docs.html">Документы</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/Kontakti.html">Контакты</a>
    </li>
  </ul>
</div>