{% load static %}

{#<div id="sait_bar">#}
  <ul class="txt_bar">
    <li><a href="{% url 'archive:sotrydniki' %}">Сотрудники
      архива</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/spisokfondov.html">Список
      фондов</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/antikorypziya.html">Антикоррупционные
      мероприятия</a></li>
    <li><a href="http://talica-arkhi-rf.1gb.ru/antiterrorizm.html">Антитеррористическая
      защищенность</a></li>
  </ul>

  {% for post in sidebar %}
    <div class="txt_bar">
    <p><a>{{ post.title }}</a>

    </p>
    {% for img in post.images.all %}
      <a><img src="{{ img.image.url }}" alt="{{ img.name }}"></a>
    {% endfor %}
    </div>
  {% endfor %}
{#</div>#}