body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #f2f2f2;
    color: #fff;
    padding: 20px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline;
    margin-right: 20px;
}

#header ul li:last-child {
    margin-right: 0;
}

#header ul li a {
    text-decoration: none;
    color: #000;
}

#header ul li a.active {
    font-weight: bold;
}



.main-content {
    float: left;
    width: 75%;
    padding: 20px;
    background: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 10px;
}

footer {
    clear: both;
    color: #000;
    text-align: center;
}

.centered-link {
    display: block;
    text-align: center;
    color: red;
    text-decoration: none;
}

.flex-container {
    flex: 1;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}


.table_time {
    border-collapse: collapse;
    margin: 0 auto;
    width: 95%
}

.table_time td, .table_time th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

h3 {
    text-align: center;
}

.post-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  margin-right: 10px; /* Отступ между изображениями по горизонтали */
  margin-bottom: 10px; /* Отступ между изображениями по вертикали */
}

.content-wrapper {
  display: flex;
}

.image-container {
  flex: 0 0 auto; /* Изображение не будет растягиваться */
  margin-right: 20px; /* Отступ между изображением и текстом */
}

.text-container {
  flex: 1; /* Текст будет растягиваться на всю доступную ширину */
}

#content_vistavki {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.exhibition {
  text-align: center;
  margin-bottom: 20px;
}

.exhibition h4 {
  color: #333;
}

.exhibition p {
  color: #666;
}

.txt_content {

    font-size: 14px;
}



.img_content {
    float: left;
    padding-left: 6px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 8px;
}

.sidebar {
    width: 25%;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#sait_bar {
    float: left;
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 100px;
    background: #e3e3e3;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.txt_bar {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    border: solid #aaaaaa 2px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Times New Roman;
    font-size: 20px;
    list-style-type: none;
}



.txt_bar a {
    color: #333;
    text-decoration: none;
}




/*Стили для корусели*/

body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: 800px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  width: 750px;
  height: 500px;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block;
}

.arrow {
  position: absolute;
  top: 250px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 750px;
  overflow: hidden;
}

.gallery ul {
  height: 500px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
    justify-content: center;
}
