body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #f2f2f2;
    color: #fff;
    padding: 20px;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header ul li {
    display: inline;
    margin-right: 20px;
}

#header ul li:last-child {
    margin-right: 0;
}

#header ul li a {
    text-decoration: none;
    color: #000;
}

#header ul li a.active {
    font-weight: bold;
}

.sidebar {
    width: 25%;
    background-color: #f2f2f2;
    padding: 20px;
}

.main-content {
    float: left;
    width: 75%;
    padding: 20px;
}

footer {
    clear: both;
    color: #000;
    text-align: center;
}

.centered-link {
    display: block;
    text-align: center;
    color: red;
    text-decoration: none;
}

.flex-container {
    flex: 1;
    display: flex;
    margin-top: 20px;
}


.table_time {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%
}

.table_time td, .table_time th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

h3 {
    text-align: center;
}

.post-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  margin-right: 10px; /* Отступ между изображениями по горизонтали */
  margin-bottom: 10px; /* Отступ между изображениями по вертикали */
}
