{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>МКУ ТГО "Управление архивами</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript" async=""
          src="https://mc.yandex.ru/metrika/watch.js"></script>
  <script type="text/javascript">
      (function (d, w, c) {
          (w[c] = w[c] || []).push(function () {
              try {
                  w.yaCounter41607109 = new Ya.Metrika({
                      id: 41607109,
                      clickmap: true,
                      trackLinks: true,
                      accurateTrackBounce: true
                  });
              } catch (e) {
              }
          });

          var n = d.getElementsByTagName("script")[0],
              s = d.createElement("script"),
              f = function () {
                  n.parentNode.insertBefore(s, n);
              };
          s.type = "text/javascript";
          s.async = true;
          s.src = "https://mc.yandex.ru/metrika/watch.js";

          if (w.opera == "[object Opera]") {
              d.addEventListener("DOMContentLoaded", f, false);
          } else {
              f();
          }
      })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/41607109"
              style="position:absolute; left:-9999px;" alt=""/></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

  <div id="page_align">
    <img class="logo" src="img/hedder.jpg">
    <div id="header">
      <ul>
        <li><a class="active" href="http://talica-arkhi-rf.1gb.ru/index.html">Главная</a>
        </li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/News.html">Новости архива</a>
        </li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Ob_arhive.html">Об архиве</a>
        </li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Zaprosi.html">Запросы</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Organizaziyam.html">Организациям</a>
        </li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Kalendar.html">Календарь
          памятных дат</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/reding_room.html">Читальный
          зал</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Vistavki.html">Выставки</a>
        </li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/stateiki.html">Статьи</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Docs.html">Документы</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/Kontakti.html">Контакты</a>
        </li>
      </ul>
    </div>
    <div id="sait_bar">
      <ul>

        <li><a href="http://talica-arkhi-rf.1gb.ru/sotrydniki.html">Сотрудники
          архива</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/spisokfondov.html">Список
          фондов</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/antikorypziya.html">Антикоррупционные
          мероприятия</a></li>
        <li><a href="http://talica-arkhi-rf.1gb.ru/antiterrorizm.html">Антитеррористическая
          защищенность</a></li>

      </ul>
      <p class="txt_bar">Предоставление государственных услуг в электронной форме
        <br><a href="https://www.gosuslugi.ru/">Подробнее</a>
      </p>
      <p class="txt_bar">
        <a href="https://www.gosuslugi.ru/">Портал Государственных услуг</a>
        <a href="https://www.gosuslugi.ru/"><img
          src="img/logo_gosyslygi.jpg"></a>
      </p>
      <p class="txt_bar">
        <a href="http://atalica.ru/">Сайт Администрации
          Талицкого городского округа</a>
        <a href="http://atalica.ru/"><img src="img/sait_administracii.jpg"></a>
      </p>
      <p class="txt_bar">
        <a href="http://uprarchives.midural.ru/">Управление архивам Свердловской
          области</a>
        <a href="http://uprarchives.midural.ru/"><img
          src="img/ypravlenie.jpg"></a>
      </p>
      <p class="txt_bar">
        <a href="http://xn----7sbbah9aya9ad3as8e.xn--p1ai/">Архивы Свердловской
          области</a><br>
        <a href="http://xn----7sbbah9aya9ad3as8e.xn--p1ai/"><img
          src="img/arhivi.jpg"></a>
      </p>
    </div>

    <div id="content">


      <h2 style="color:#ff0000"><a style="color:#ff0000"
                                   href="http://talica-arkhi-rf.1gb.ru/stolet.html">Архив
        - он был, он есть, он вечно будет в делах страны, в делах людей</a></h2>

      <h2>Добро пожаловать на сайт нашего архива</h2>
      <p class="txt_content">Здесь Вы можете узнать историю архива, ознакомиться
        с предоставляемыми услугами для населения, как получить нужную для Вас
        услугу. Посмотреть список организаций, документы которых находятся у нас
        на хранении, различные выставки и презентации.</p><br>
      <p class="txt_content">
        Полное наименование: Муниципальное казенное учреждение Талицкого
        городского округа "Управление архивами"<br><br>
        <b>Адрес:</b> 623640, Свердловская область, г. Талица, ул. Исламова, 2,
        третий этаж.<br><br>

        <b>Начальник учреждения Медведева Галина Петровна</b>, тел. (34371)
        2-17-78.<br><br>
        <b>Телефон/Факс: 8 (34371) 2-54-54; 8 (34371) 2-17-78.</b><br>
        Адрес электронной почты: <b>talica-arhiv@yandex.ru</b><br><br><br>
      </p>
      <h2>Режим работы</h2>
      <table border="1px" width="600px" class="table_time">
        <tbody>
        <tr>
          <td>Понедельник</td>
          <td>8.00-12.00</td>
          <td>12.48-17.00</td>
        </tr>
        <tr>
          <td>Вторник</td>
          <td>8.00-12.00</td>
          <td>12.48-17.00</td>
        </tr>
        <tr>
          <td>Среда</td>
          <td>8.00-12.00</td>
          <td>12.48-17.00</td>
        </tr>
        <tr>
          <td>Четверг</td>
          <td>8.00-12.00</td>
          <td>12.48-17.00</td>
        </tr>
        <tr>
          <td>Пятница</td>
          <td>8.00-12.00</td>
          <td>12.48-16.00</td>
        </tr>
        </tbody>
      </table>
      <p class="txt_content"><b>Прием клиентов: понедельник-вторник с 08.00 до
        17.00, перерыв с 12.00 до 12.48</b></p><br><br>
      <p class="txt_content"><b>График работы читального зала:</b><br><br>
        Выдача исследователям описей, документов для работы<br>
        Понедельник-четверг с 09.00 до 16.00, перерыв с 12.00 до 12.48<br><br>
        <b>Проезд:</b> от железнодорожного вокзала на маршрутном такси или
        автобусе до г. Талица.<br><br>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1826.5402466839912!2d63.73538250146708!3d57.015000855714334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1467861904403"
          width="500" height="350" frameborder="0" style="border:0"
          allowfullscreen=""></iframe>
      </p>
    </div>


  </div>
  <div id="footer">
    <p class="p_footer">МКУ ТГО "Управление архивами"</p>
  </div>


  </body>
</html>